.vs/
AllineaListone/obj/
AllineaPrezziFantaculo/bin/
AllineaPrezziFantaculo/obj/
AllineaPrezziFantaLab/bin/
AllineaPrezziFantaLab/obj/
ConfrontoListaFanta/bin/Debug/ConfrontoListaFanta.pdb
ConfrontoListaFanta/bin/
ConfrontoListaFanta/obj/
ExcelManager/bin/Debug/netcoreapp2.0/ExcelManager.dll
ExcelManager/bin/
ExcelManager/obj/
AllineaListone/bin/
CostoAstaPrecedente/bin/
CostoAstaPrecedente/obj/
FantaGoat/bin/
FantaGoat/obj/
Orchestrator/bin/
Orchestrator/obj/
FantaLabManager/obj/
FantaLabManager/bin/
FantaGoatManager/obj/
FantaGoatManager/bin/
FantaculoManager/obj/
FantaculoManager/bin/
CostoAstaPrecedenteManager/obj/
CostoAstaPrecedenteManager/bin/
AllineaListoneManager/obj/
AllineaListoneManager/bin/
